/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2016, 1:27:35 PM
    Author     : dlip
*/
body{
    background-color:lightcyan;
}
.col-sm-6{
  height:300px;
}